.button {
  color: rgb(247, 247, 252);
  cursor: pointer;
  background-color: rgb(82, 82, 241);
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(239, 239, 247);
}

.button:hover {
  background-color: rgb(41, 41, 236);
  transform: scale(0.9);
  transition: cubic-bezier(1, 0, 0, 1);
}

.item {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid rgb(47, 47, 243);
  border-radius: 5px;
  margin-top: 5px;
}
.item:hover {
  background-color: rgb(191, 174, 236);
}

.item_completed {
  background-color: rgb(195, 183, 207);
}

.text {
  margin-right: 10px;
  margin-top: 10px;
}

.text_completed {
  text-decoration: line-through;
}
